<<<<<<< HEAD
<h2>Página Principal do Painel Administrativo:</h2><hr>
<a href="/admin/categorias"><h5>Categorias</h5></a>
<a href="/admin/postagens"><h5>postagens</h5></a>

=======
<h2>Página Principal do Painel Administrativo</h2><br>
>>>>>>> 8d97a9ca299e8f017348e589012ea3cf626af429
